.footerContainer {
  background-color: #333333;
  width: 100vw;
  height: 192px;
  display: flex;
  flex-direction: column;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 69px;
}

.link {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
}

.copright {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
}
